body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: rgb(135, 135, 135);
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}
ul {
  padding: 0;
  margin: 10px;
}
li {
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.weather-app {
  border: 1px solid rgb(135, 135, 135);
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}
.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.fa-solid {
  color: rgb(111, 0, 255);
  font-size: 50px;
}
.btn-outline-primary {
  color: blue;
}
.footer {max-width: 600px;  margin: 20px auto;}
